@import "../../variables.scss";

.about-container {
  width: 100%;
  height: 685px;
  background-color: $background-color-gray;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;

  .about-left-column {
    position: relative;
    width: 645px;

    .about-picture-border {
      z-index: 4;
      position: relative;
      left: 240px;
      top: 74px;
    }

    .about-picture-border::before {
      content: '';
      box-shadow: inset 0 0 0 15px $color-red;
      position: absolute;
      left: -40px;
      top: 40px;
      z-index: 1;
      width: 405px;
      height: 497px;
    }

    .about-picture {
      position: relative;
      z-index: 10;
      left: 240px;
      top: 74px;
    }
  }

  .about-right-column {
    position: relative;
    top: 74px;
    width: calc(100% - 645px);
    padding: 0 20px;

    h1 {
      font-size: 3rem;
      line-height: 58px;
    }

    h1::before {
      content: '';
      position: absolute;
      width: 90px;
      height: 8px;
      background-color: $color-red;
      top: 58px;
      z-index: 20;
    }

    p {
      margin-top: 50px;
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
  }
}
