@import "../../variables";

$menu-item-animation: all 0.75s ease 0s;
$menu-item-border-bottom: 1px solid $alpha;
$menu-item-border-bottom-hover: 1px solid $color-white;

.menu-bar-container {
  height: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  color: $color-white;
}

.language-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 5px;
  transition: $menu-item-animation;
  border-bottom: $menu-item-border-bottom;
}

.language-button:hover {
  border-bottom: $menu-item-border-bottom-hover;
}

.menu-bar-language-icon {
  width: 32px;
}

.menu-bar-item {
  background: none;
  border: none;
  cursor: pointer;
  color: $color-white;
  font-size: 1.5rem;
  transition: $menu-item-animation;
  padding: 5px;
  border-bottom: $menu-item-border-bottom;
}

.menu-bar-item:hover {
  border-bottom: $menu-item-border-bottom-hover;
}

.menu-bar-social {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 5px;
  border: none;
  transition: $menu-item-animation;
  border-bottom: $menu-item-border-bottom;
}

.menu-bar-social:hover {
  border-bottom: $menu-item-border-bottom-hover;
}