#root {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  background-color: white;
}

.FlexContainer {
  display: flex;
}

.FlexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.FlexColumn {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.timeline {
  display: flex;
  background-color: #fff;

  &:hover {
    .tl-item {
      width: 23.3333%;
    }
  }
}
