@import "variables";

#root {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  background-color: $background-color;
}

.FlexContainer {
  display: flex;
}

.FlexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.FlexColumn {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.app-content {
  padding: 20px;
}

.app-content-paragraph {
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
  line-height: 58px;

  &:before {
    content: "CV";
    color: $alpha;
    position: absolute;
    max-width: 90px;
    height: 8px;
    background-color: $color-red-medium;
    top: 58px;
    z-index: 20;
  }
}

h2 {
  margin-top: 24px;
  font-size: 2rem;
  line-height: 2.25rem;
}

h3 {
  margin-top: 24px;
  font-size: 1.5rem;
  line-height: 2rem;
}

p {
  margin-top: 24px;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

ul {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

a {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: $color-red;
  text-decoration: underline $alpha;
  transition: all 0.75s ease;

  &:hover {
    color: $color-red-light;
    text-decoration: underline $color-red-light;
  }
}

#page-content {
  margin: 72px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1720px;
  gap: 48px;
}

#experience, #education, #skills {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 42px;
  width: 100%;
}

@media (width < $media-width) {
  #page-content {
    width: calc(100vw - 40px);
    margin: 72px auto;
  }

  h1 {
    font-size: 2rem;
    line-height: 39px;

    &:before {
      content: "CV";
      color: $alpha;
      position: absolute;
      max-width: 90px;
      height: 8px;
      background-color: $color-red-medium;
      top: 39px;
      z-index: 20;
    }
  }

  h2 {
    margin-top: 24px;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h3 {
    margin-top: 24px;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  p {
    margin-top: 24px;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  ul {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  a {
    font-size: 1rem;
    line-height: 1.25rem;
    color: $color-red;
    text-decoration: underline $alpha;
    transition: all 0.75s ease;

    &:hover {
      color: $color-red-light;
      text-decoration: underline $color-red-light;
    }
  }
}