@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  font-family: Lato, Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.7rem;
  font-weight: 400;
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: $background-color;
  color: $text-color;
}

h1 {
  font-weight: 400;
}
