$background-color: #fff;
$background-color-gray: #dedede;
$background-color-no-alpha: #33313200;

$text-color: #333132;
$text-color-hover: #E15656;

$color-white: #fff;
$color-white-alpha: #ffffff50;
$color-red: #A41717;
$color-red-medium: #CA3030;
$color-red-light: #E15656;
$color-gray: #333132;

$alpha: #00000000;
